@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

body > div {
  min-height: max-content;
}